*.class
build/bundles/
build/classes/
build/dependency-cache/
build/docs/
build/generated/
build/incremental/
build/intermediates/
build/poms/
build/reports/
build/resources/
build/source/
build/tests/
build/test-results/
build/tmp/
build/ivy.xml
build/lint*
bin/
gen/
libs/
.gradle
.settings/
.settings/org.eclipse.jdt.core.prefs
