*.class
build/bundles/
build/classes/
build/dependency-cache/
build/docs/
build/incremental/
build/poms/
build/reports/
build/resources/
build/source/
build/tests/
build/test-results/
build/tmp/
build/ivy.xml
bin/
gen/
libs/
.gradle

